@media screen and (max-width: 768px) {
  .nav-title-box {
    text-align: left;
    height: 30px;
    padding-top: 5px;
    display: grid;
  }
  .emtry_box {
    display: none;
  }
  .img-cert {
    display: block;
  }
  .about-top {
    grid-template-columns: 100%;
    height: fit-content;
  }
  #about {
    height: fit-content;
  }
  section > .container {
    width: 100%;
  }
  #job-info .container {
    display: block;
    width: 100%;
  }
  .project-colum {
    display: block;
  }
  div ul {
    padding-left: 0px;
  }
}
